@import "foundation";
@import "base";
@import "toolbar";
@import "header";
@import "section";
@import "decorations";
@import "picture";
@import "more";
@import "footer";

#experience {
  .section-item-header {
    text-align: end;
  }

  .section-item-description {
    text-align: start;
  }
}

#experience-title {
  margin-left: 30px;
}

#studies {
  .section-item-header {
    text-align: start;
  }

  .section-item-description {
    text-align: end;
  }
}

#studies-title {
  margin-left: 50px;
}
