body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

#toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
}
#toolbar #navigationbar {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  margin-right: 48px;
}
#toolbar #navigationbar .nav-section {
  font-weight: 600;
  font-size: 1.1rem;
  margin-left: 34px;
  margin-right: 34px;
  cursor: pointer;
}

#header {
  margin-top: 160px;
  margin-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#header #hello-header {
  margin-top: 40px;
}
#header #hello-header #hello-text {
  font-weight: 600;
  font-size: 1.5rem;
}
#header #hello-header #iam-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 85%;
}
#header #hello-header #iam-text #alicia-text {
  font-weight: 900;
  font-size: 3.2rem;
  color: #3b8fff;
}
#header #hello-header #surname-text {
  font-weight: 900;
  font-size: 3.48rem;
  color: #3b8fff;
  line-height: 85%;
  margin-left: -2px;
}
#header #hello-header .whatiam-text {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: end;
  margin-top: 10px;
  line-height: 60%;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
.section .picture-area {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  align-self: center;
}
.section .section-title {
  text-align: center;
  margin-right: 10px;
}
.section .section-item {
  justify-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.section .section-item .section-item-header {
  width: 200px;
}
.section .section-item .section-item-description {
  font-weight: 200;
  font-size: 0.9rem;
  margin-left: 8px;
  margin-right: 8px;
  width: 400px;
}

#decoration-header-1 {
  z-index: -1;
  background-color: #ffdb82;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 575px;
  height: 490px;
}

#decoration-header-2 {
  z-index: -1;
  border: 1px solid #ffdb82;
  position: absolute;
  left: 50%;
  top: 80px;
  width: 35%;
  height: 490px;
}

#decoration-header-3 {
  z-index: -1;
  border: 1px solid #ffdb82;
  position: absolute;
  left: 45%;
  top: 140px;
  width: 35%;
  height: 560px;
}

#experience-picture-decoration-1 {
  z-index: -1;
  background-color: #ffdb82;
  position: absolute;
  left: -32px;
  top: 32px;
  width: 294px;
  height: 420px;
}

#experience-picture-decoration-2 {
  z-index: -1;
  border: 1px solid #ffdb82;
  position: absolute;
  left: 24px;
  top: 64px;
  width: 294px;
  height: 420px;
}

#studies-picture-decoration-1 {
  z-index: -1;
  background-color: #ffdb82;
  position: absolute;
  left: 80px;
  top: -48px;
  width: 294px;
  height: 320px;
}

#studies-picture-decoration-2 {
  z-index: -1;
  border: 1px solid #ffdb82;
  position: absolute;
  left: 24px;
  top: -24px;
  width: 294px;
  height: 320px;
}

#myself-001 {
  margin-left: 12px;
  width: 420px;
  box-shadow: 0px 2px 8px #0000002d;
}

#myself-002 {
  width: 312px;
  box-shadow: 0px 2px 8px #0000002d;
}

#myself-003 {
  width: 320px;
}

#more-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}
#more-section .cards {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}
#more-section .cards .card {
  position: relative;
  display: flex;
  text-align: end;
  width: 260px;
  height: 340px;
  margin-left: 16px;
  margin-right: 16px;
}
#more-section .cards .card .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
#more-section .cards .card .card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffdb82;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
#more-section .cards .card .card-overlay:hover {
  opacity: 0.8;
  transition: opacity 0.3s, visibility 0.3s;
}
#more-section .cards .card .card-title {
  margin-right: 16px;
  z-index: 1;
}
#more-section .cards .card .card-body {
  font-weight: 200;
  font-size: 0.9rem;
  margin: 0 16px 16px 16px;
  z-index: 1;
}

#experience-section .section-item-header {
  text-align: end;
}
#experience-section .section-item-description {
  text-align: start;
}

#experience-title {
  margin-left: 80px;
}

#studies-section .section-item-header {
  text-align: start;
}
#studies-section .section-item-description {
  text-align: end;
}

/*# sourceMappingURL=alicia.css.map */
