body {
  font-family: Arial, Helvetica, sans-serif;
  color: $main-text-color;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  @include header1;
  margin: 0;
}

h2 {
  @include header2;
  margin: 0;
}

h3 {
  @include header3;
  margin: 0;
}

h4 {
  @include header4;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
