@import "foundation";

#toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  transition: all 0.3s, visibility 0.3s;

  &.solid {
    background: $color-primary;
    transition: all 0.3s, visibility 0.3s;
  }

  #navigationbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    margin-right: 48px;

    .nav-section {
      font-weight: 600;
      font-size: 1.1rem;
      margin-left: 34px;
      margin-right: 34px;
      text-decoration: none;
      color: $main-text-color;
      cursor: pointer;
    }
  }
}
