@import "foundation";

#header {
  margin-top: 160px;
  margin-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 0px;
  }

  #hello-header {
    margin-top: 40px;
    width: fit-content;

    @media (max-width: 1024px) {
      margin-bottom: 40px;
      text-align: center;
    }

    #hello-text {
      font-weight: 600;
      font-size: 3rem;
      margin-bottom: 20px;

      @media (max-width: 1024px) {
        font-weight: 900;
        font-size: 10vw;
      }
    }

    #iam-text {
      font-weight: 600;
      font-size: 4rem;
      line-height: 95%;

      @media (max-width: 1024px) {
        font-size: 14vw;
      }

      #alicia-text {
        font-weight: 900;
        font-size: 6rem;
        color: $color-accent;

        @media (max-width: 1024px) {
          font-size: 20vw;
        }
      }
    }

    #surname-text {
      font-weight: 900;
      font-size: 6.5rem;
      color: $color-accent;
      line-height: 85%;
      margin-left: -2px;

      @media (max-width: 1024px) {
        font-size: 20vw;
      }
    }

    #first-whatiam {
      margin-top: 48px;
    }

    .whatiam-text {
      font-weight: 600;
      font-size: 1.2rem;
      text-align: end;
      margin-top: 12px;
      line-height: 60%;

      @media (max-width: 1024px) {
        text-align: center;
      }
    }
  }
}
