@import "foundation";
@import "base";
@import "toolbar";
@import "header";
@import "section";
@import "decorations";
@import "picture";
@import "more";
@import "footer";

#experience {
  .section-item-header {
    text-align: end;
  }
  .section-item-description {
    text-align: start;
  }
}

#experience-title {
  margin-left: 30px;

  @media (max-width: 1024px) {
    margin-left: 0;
  }
}

#studies {
  .section-item-header {
    text-align: start;

    @media (max-width: 1400px) {
      text-align: center;
    }
  }
  .section-item-description {
    text-align: end;

    @media (max-width: 1400px) {
      text-align: center;
    }
  }
}

#studies-title {
  margin-left: 50px;

  @media (max-width: 1400px) {
    margin-left: 0;
  }
}

#more-title {
  @media (max-width: 1024px) {
    font-size: 4rem;
  }
}
