body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
}

h5 {
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.body-bold {
  font-weight: 700;
  font-size: 0.9rem;
}

#toolbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  transition: all 0.3s, visibility 0.3s;
}
@media (max-width: 1000px) {
  #toolbar {
    background: #ffdb82;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 24px;
    height: fit-content;
    min-height: 56px;
  }
}
#toolbar.solid {
  background: #ffdb82;
  transition: all 0.3s, visibility 0.3s;
}
#toolbar #navigationbar {
  margin-right: 48px;
}
@media (max-width: 1000px) {
  #toolbar #navigationbar {
    display: flex;
    flex-direction: column;
  }
}
#toolbar #navigationbar .nav-section {
  font-weight: 900;
  font-size: 1.2rem;
  margin-left: 34px;
  margin-right: 34px;
  text-decoration: none;
  color: #2d2d2d;
  cursor: pointer;
}
#toolbar #navigationbar .nav-section.selected {
  text-decoration: underline;
}
@media (max-width: 1000px) {
  #toolbar #navigationbar .nav-section {
    height: 0px;
    display: none;
  }
  #toolbar #navigationbar .nav-section.responsive {
    height: 48px;
    display: block;
  }
}

.mobile-menu-icon {
  display: none;
}
@media (max-width: 1000px) {
  .mobile-menu-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
    width: 32px;
    height: 32px;
  }
}

#header {
  margin-top: 160px;
  margin-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1000px) {
  #header {
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 0px;
  }
}
#header #hello-header {
  margin-top: 40px;
  width: fit-content;
}
@media (max-width: 1000px) {
  #header #hello-header {
    margin-bottom: 40px;
  }
}
#header #hello-header #hello-text {
  font-weight: 600;
  font-size: 1.5rem;
}
#header #hello-header #iam-text {
  font-weight: 600;
  font-size: 3rem;
  line-height: 90%;
}
#header #hello-header #iam-text #alicia-text {
  font-weight: 900;
  font-size: 3.2rem;
  color: #3b8fff;
}
#header #hello-header #surname-text {
  font-weight: 900;
  font-size: 3.48rem;
  color: #3b8fff;
  line-height: 85%;
  margin-left: -2px;
}
#header #hello-header #first-whatiam {
  margin-top: 24px;
}
#header #hello-header .whatiam-text {
  font-weight: 600;
  font-size: 0.9rem;
  text-align: end;
  margin-top: 12px;
  line-height: 60%;
}
@media (max-width: 1000px) {
  #header #hello-header .whatiam-text {
    text-align: center;
  }
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 1000px) {
  .section {
    flex-direction: column;
    width: 90%;
    margin: 24px auto;
  }
}
.section .picture-area {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  align-self: center;
}
@media (max-width: 1000px) {
  .section .picture-area {
    display: none;
  }
}
.section .section-title {
  text-align: center;
  margin-right: 10px;
}
.section .section-item {
  justify-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}
.section .section-item .section-item-header {
  width: 500px;
}
.section .section-item .section-item-description {
  font-weight: 200;
  font-size: 0.9rem;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  width: 400px;
}

.job-title {
  margin-top: 6px;
}

#decoration-header-1 {
  z-index: -1;
  background-color: #ffdb82;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 625px;
  height: 490px;
}
@media (max-width: 1000px) {
  #decoration-header-1 {
    display: none;
  }
}

#decoration-header-2 {
  z-index: -2;
  border: 2px solid #ffdb82;
  position: absolute;
  left: 50%;
  top: 80px;
  width: 35%;
  height: 490px;
}
@media (max-width: 1000px) {
  #decoration-header-2 {
    display: none;
  }
}

#decoration-header-3 {
  z-index: -2;
  border: 2px solid #ffefc8;
  position: absolute;
  left: 45%;
  top: 140px;
  width: 35%;
  height: 560px;
}
@media (max-width: 1000px) {
  #decoration-header-3 {
    display: none;
  }
}

#experience-picture-decoration-1 {
  z-index: -1;
  background-color: #ffc363;
  position: absolute;
  left: -32px;
  top: 32px;
  width: 294px;
  height: 640px;
}
@media (max-width: 1000px) {
  #experience-picture-decoration-1 {
    display: none;
  }
}

#experience-picture-decoration-2 {
  z-index: -2;
  border: 2px solid #ffc363;
  position: absolute;
  left: 24px;
  top: 64px;
  width: 294px;
  height: 630px;
}
@media (max-width: 1000px) {
  #experience-picture-decoration-2 {
    display: none;
  }
}

#studies-picture-decoration-1 {
  z-index: -1;
  background-color: #ffed9c;
  position: absolute;
  left: 80px;
  top: -48px;
  width: 294px;
  height: 320px;
}
@media (max-width: 1000px) {
  #studies-picture-decoration-1 {
    display: none;
  }
}

#studies-picture-decoration-2 {
  z-index: -2;
  border: 2px solid #ffed9c;
  position: absolute;
  left: 24px;
  top: -24px;
  width: 294px;
  height: 320px;
}
@media (max-width: 1000px) {
  #studies-picture-decoration-2 {
    display: none;
  }
}

#myself-001 {
  margin-left: 12px;
  width: 420px;
  box-shadow: 0px 2px 8px #0000002d;
}
@media (max-width: 1000px) {
  #myself-001 {
    width: 80%;
  }
}

#myself-002 {
  width: 312px;
  box-shadow: 0px 2px 8px #0000002d;
}

#myself-003 {
  width: 320px;
}

#more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  text-align: center;
}
@media (max-width: 1000px) {
  #more {
    margin-top: 40px;
  }
}
#more .cards {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}
@media (max-width: 1000px) {
  #more .cards {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
}
#more .cards .card {
  position: relative;
  display: flex;
  text-align: end;
  width: 260px;
  height: 340px;
  margin-left: 16px;
  margin-right: 16px;
}
@media (max-width: 1000px) {
  #more .cards .card {
    margin: 24px 0;
  }
}
#more .cards .card .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
#more .cards .card .card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffdb82;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
#more .cards .card .card-overlay:hover {
  opacity: 0.8;
  transition: opacity 0.3s, visibility 0.3s;
}
#more .cards .card .card-title {
  margin-right: 16px;
  z-index: 1;
}
#more .cards .card .card-body {
  font-weight: 200;
  font-size: 0.9rem;
  margin: 0 16px 16px 16px;
  z-index: 1;
  font-weight: 400;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  height: 240px;
  width: 100%;
  background: #1c4173;
}
#contact #lets-talk {
  color: #ffffff;
}
#contact #networks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}
#contact #networks .network-logo {
  width: auto;
  height: 48px;
  margin-left: 16px;
  margin-right: 16px;
  object-fit: cover;
}

#experience .section-item-header {
  text-align: end;
}
#experience .section-item-description {
  text-align: start;
}

#experience-title {
  margin-left: 30px;
}

#studies .section-item-header {
  text-align: start;
}
#studies .section-item-description {
  text-align: end;
}

#studies-title {
  margin-left: 50px;
}

/*# sourceMappingURL=alicia.css.map */
