body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

h1 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-weight: 900;
  margin: 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 15vw;
  }
}

h2 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 12vw;
  }
}

h3 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 1024px) {
  h3 {
    font-size: 6vw;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
}

h5 {
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0;
}

@media (max-width: 1024px) {
  h5 {
    font-size: 4vw;
  }
}

p {
  padding: 0;
  margin: 0;
}

.body-bold {
  font-weight: 700;
  font-size: 1.4rem;
}

@media (max-width: 1024px) {
  .body-bold {
    font-size: 1.2rem;
  }
}

#toolbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  -webkit-transition: all 0.3s, visibility 0.3s;
  transition: all 0.3s, visibility 0.3s;
}

@media (max-width: 1024px) {
  #toolbar {
    background: #ffdb82;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 24px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 56px;
  }
}

#toolbar.solid {
  background: #ffdb82;
  -webkit-transition: all 0.3s, visibility 0.3s;
  transition: all 0.3s, visibility 0.3s;
}

#toolbar #navigationbar {
  margin-right: 48px;
}

@media (max-width: 1024px) {
  #toolbar #navigationbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#toolbar #navigationbar .nav-section {
  font-weight: 900;
  font-size: 1.2rem;
  margin-left: 34px;
  margin-right: 34px;
  text-decoration: none;
  color: #2d2d2d;
  cursor: pointer;
}

#toolbar #navigationbar .nav-section.selected {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  #toolbar #navigationbar .nav-section {
    height: 0px;
    display: none;
  }
  #toolbar #navigationbar .nav-section.responsive {
    height: 48px;
    display: block;
  }
}

.mobile-menu-icon {
  display: none;
}

@media (max-width: 1024px) {
  .mobile-menu-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
    width: 32px;
    height: 32px;
  }
}

#header {
  margin-top: 160px;
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  #header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
  }
}

#header #hello-header {
  margin-top: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 1024px) {
  #header #hello-header {
    margin-bottom: 40px;
    text-align: center;
  }
}

#header #hello-header #hello-text {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  #header #hello-header #hello-text {
    font-weight: 900;
    font-size: 10vw;
  }
}

#header #hello-header #iam-text {
  font-weight: 600;
  font-size: 4rem;
  line-height: 95%;
}

@media (max-width: 1024px) {
  #header #hello-header #iam-text {
    font-size: 14vw;
  }
}

#header #hello-header #iam-text #alicia-text {
  font-weight: 900;
  font-size: 6rem;
  color: #3b8fff;
}

@media (max-width: 1024px) {
  #header #hello-header #iam-text #alicia-text {
    font-size: 20vw;
  }
}

#header #hello-header #surname-text {
  font-weight: 900;
  font-size: 6.5rem;
  color: #3b8fff;
  line-height: 85%;
  margin-left: -2px;
}

@media (max-width: 1024px) {
  #header #hello-header #surname-text {
    font-size: 20vw;
  }
}

#header #hello-header #first-whatiam {
  margin-top: 48px;
}

#header #hello-header .whatiam-text {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: end;
  margin-top: 12px;
  line-height: 60%;
}

@media (max-width: 1024px) {
  #header #hello-header .whatiam-text {
    text-align: center;
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 1024px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 24px auto;
  }
}

.section .picture-area {
  margin-top: 200px;
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}

@media (max-width: 1400px) {
  .section .picture-area {
    display: none;
  }
}

.section .section-title {
  text-align: center;
  margin-right: 10px;
  margin-top: 40px;
  width: 100%;
}

@media (max-width: 1024px) {
  .section .section-title {
    margin-top: 0;
    font-size: 15vw;
  }
}

.section .section-item {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  margin: 24px auto 0 auto;
}

@media (max-width: 1024px) {
  .section .section-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.section .section-item .section-item-header {
  width: 500px;
}

@media (max-width: 1400px) {
  .section .section-item .section-item-header {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .section .section-item .section-item-header {
    width: 80vw;
  }
  .section .section-item .section-item-header h1,
  .section .section-item .section-item-header h2,
  .section .section-item .section-item-header h3,
  .section .section-item .section-item-header h4,
  .section .section-item .section-item-header h5 {
    text-align: center;
  }
}

.section .section-item .section-item-description {
  font-weight: 200;
  font-size: 1.4rem;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 4px;
  width: 400px;
}

@media (max-width: 1024px) {
  .section .section-item .section-item-description {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .section .section-item .section-item-description {
    width: 100%;
    margin: 0;
  }
}

.job-title {
  margin-top: 6px;
}

#decoration-header-1 {
  z-index: -1;
  background-color: #ffdb82;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 625px;
  height: 490px;
}

@media (max-width: 1024px) {
  #decoration-header-1 {
    display: none;
  }
}

#decoration-header-2 {
  z-index: -2;
  border: 2px solid #ffdb82;
  position: absolute;
  left: 50%;
  top: 80px;
  width: 35%;
  height: 490px;
}

@media (max-width: 1024px) {
  #decoration-header-2 {
    display: none;
  }
}

#decoration-header-3 {
  z-index: -2;
  border: 2px solid #ffefc8;
  position: absolute;
  left: 45%;
  top: 140px;
  width: 35%;
  height: 560px;
}

@media (max-width: 1024px) {
  #decoration-header-3 {
    display: none;
  }
}

#experience-picture-decoration-1 {
  z-index: -1;
  background-color: #ffc363;
  position: absolute;
  left: -32px;
  top: 32px;
  width: 294px;
  height: 640px;
}

@media (max-width: 1024px) {
  #experience-picture-decoration-1 {
    display: none;
  }
}

#experience-picture-decoration-2 {
  z-index: -2;
  border: 2px solid #ffc363;
  position: absolute;
  left: 24px;
  top: 64px;
  width: 294px;
  height: 630px;
}

@media (max-width: 1024px) {
  #experience-picture-decoration-2 {
    display: none;
  }
}

#studies-picture-decoration-1 {
  z-index: -1;
  background-color: #ffed9c;
  position: absolute;
  left: 80px;
  top: -48px;
  width: 294px;
  height: 320px;
}

@media (max-width: 1024px) {
  #studies-picture-decoration-1 {
    display: none;
  }
}

#studies-picture-decoration-2 {
  z-index: -2;
  border: 2px solid #ffed9c;
  position: absolute;
  left: 24px;
  top: -24px;
  width: 294px;
  height: 320px;
}

@media (max-width: 1024px) {
  #studies-picture-decoration-2 {
    display: none;
  }
}

#myself-001 {
  margin-left: 12px;
  width: 420px;
  height: 583px;
  -webkit-box-shadow: 0px 2px 8px #0000002d;
          box-shadow: 0px 2px 8px #0000002d;
}

@media (max-width: 1024px) {
  #myself-001 {
    width: 80%;
  }
}

#myself-002 {
  width: 312px;
  -webkit-box-shadow: 0px 2px 8px #0000002d;
          box-shadow: 0px 2px 8px #0000002d;
}

#myself-003 {
  width: 320px;
}

#more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  text-align: center;
}

@media (max-width: 1024px) {
  #more {
    margin-top: 40px;
  }
}

#more .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 32px;
  width: 90%;
}

@media (max-width: 1024px) {
  #more .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#more .cards .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: end;
  width: 30%;
  height: 600px;
  margin-left: 16px;
  margin-right: 16px;
}

@media (max-width: 1024px) {
  #more .cards .card {
    width: 90%;
    margin: 24px 0;
  }
}

#more .cards .card .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

#more .cards .card .card-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffdb82;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

#more .cards .card .card-overlay:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

#more .cards .card .card-title {
  margin-right: 16px;
  z-index: 1;
}

#more .cards .card .card-body {
  font-weight: 200;
  font-size: 1.4rem;
  margin: 0 16px 16px 16px;
  z-index: 1;
  font-weight: 400;
}

@media (max-width: 1024px) {
  #more .cards .card .card-body {
    font-size: 1.2rem;
  }
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 100px;
  height: 240px;
  width: 100%;
  background: #1c4173;
}

#contact #lets-talk {
  color: #ffffff;
}

#contact #networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}

#contact #networks .network-logo {
  width: auto;
  height: 48px;
  margin-left: 16px;
  margin-right: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

#experience .section-item-header {
  text-align: end;
}

#experience .section-item-description {
  text-align: start;
}

#experience-title {
  margin-left: 30px;
}

@media (max-width: 1024px) {
  #experience-title {
    margin-left: 0;
  }
}

#studies .section-item-header {
  text-align: start;
}

@media (max-width: 1400px) {
  #studies .section-item-header {
    text-align: center;
  }
}

#studies .section-item-description {
  text-align: end;
}

@media (max-width: 1400px) {
  #studies .section-item-description {
    text-align: center;
  }
}

#studies-title {
  margin-left: 50px;
}

@media (max-width: 1400px) {
  #studies-title {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  #more-title {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=alicia.css.map */