#myself-001 {
  margin-left: 12px;
  width: 420px;
  box-shadow: 0px 2px 8px #0000002d;

  @media (max-width: 1000px) {
    width: 80%;
  }
}

#myself-002 {
  width: 312px;
  box-shadow: 0px 2px 8px #0000002d;
}

#myself-003 {
  width: 320px;
}
